.c-item__header {
	font-size: 1.6em;
	font-weight: bold;
	margin: 0px 10px 10px 10px;
}

@media screen and (min-width: 635px) and (max-width: 770px){
	.c-item__header {
		margin-left: 10px;
	}
}

@media screen and (max-width: 635px){
	.c-item__header {
		margin-left: 10px;
		line-height: 22px;
	}
}