.c-container {
	padding-top: 70px;
}

@media screen and (min-width: 770px) and (max-width: 989px){
	.c-container {
		padding-top: 96px;
	}
}

@media screen and (min-width: 635px) and (max-width: 770px){
	.c-container {
		padding-top: 145px;
	}
}

@media screen and (min-width: 430px) and (max-width: 635px){
	.c-container {
		padding-top: 162px;
	}
}

@media screen and (max-width: 430px){
	.c-container {
		padding-top: 260px;
	}
}