<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biegi Górskie</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Nunito|Quicksand" rel="stylesheet">
    <link href="css/web-wrap/web-wrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-header/mr-header.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-logo/mr-logo.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters-main/mr-filters-main.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters/__label/mr-filters__label.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters/__date/mr-filters__date.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters/__select/mr-filters__select.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters/__submit/mr-filters__submit.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filter/mr-filter.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filter-group/mr-filter-group.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filter-label/mr-filter-label.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-button-group/mr-button-group.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-button/mr-button.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-button/_submit/mr-button--submit.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-filters-advanced/mr-filters-advanced.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-button/_calendar/mr-button--calendar.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter-label/mr-advanced-filter-label.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter/mr-advanced-filter.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter-group/mr-advanced-filter-group.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter/_half-width/mr-advanced-filter--half-width.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter/_width-130/mr-advanced-filter--width-130.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-container/c-container.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__logo/c-item__logo.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/c-item.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__header/c-item__header.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__info/c-item__info.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__info/_location/c-item__info--location.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__info/_date/c-item__info--date.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-button/c-item-button.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-details/c-item-details.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-details/__info/c-item-details__info.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-prize/c-item-prize.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-prize/__header/c-item-prize__header.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-prize-category/c-item-prize-category.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-prize-category/__header/c-item-prize-category__header.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-prize-category/__prize/c-item-prize-category__prize.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-button/_poz-absolute-1/c-item-button--poz-absolute-1.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-button/_poz-absolute-2/c-item-button--poz-absolute-2.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-button/_poz-absolute-3/c-item-button--poz-absolute-3.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item-button/_poz-absolute-4/c-item-button--poz-absolute-4.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__text/c-item__text.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__text/_left/c-item__text--left.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__text/_right/c-item__text--right.css" rel="stylesheet" type="text/css"/>
    <link href="css/c-item/__dots/c-item__dots.css" rel="stylesheet" type="text/css"/>
    <link href="css/mr-advanced-filter/_width-130/mr-advanced-filter--width-130.css" rel="stylesheet" type="text/css"/>
    <link href="components/jQuery-MultiSelect-master/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
    <script src="components/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="components/angular.min.js" type="text/javascript"></script>
    <script src="js/mountainRunning.js" type="text/javascript"></script>
    <script src="controllers/mainPageController.js" type="text/javascript"></script>
    <script src="components/jQuery-MultiSelect-master/jquery.multiselect.js" type="text/javascript"></script>
    <script src="js/sample.js" type="text/javascript"></script>
</head>
<body ng-app="mountainRunning" ng-controller="mainPageCtrl">
    <div class="web-wrap">
        <form action="" class="mr-filters" ng-cloak>
            <header class="mr-header">
                <div class="mr-logo">
                    <h1>Biegi Górskie</h1>
                </div>
                <div class="mr-filters-main">
                    <div class="mr-filter-group">
                        <label class="mr-filter-label" for="start_date">Przedział czasowy</label>
                        <input class="mr-filter">
                        <input class="mr-filter">
                    </div>
                    <div class="mr-filter-group">
                        <label class="mr-filter-label" for="country">Kraj</label>	
                        <select multiple="multiple" id="country" name="country" data-ng-model="selectCountry">
                            <option selected value="poland">Polska</option>
                            <option selected value="austria">Austria</option>
                            <option selected value="croatia">Chorwacja</option>
                            <option selected value="slovakia">Słowacja</option>
                        </select>							
                    </div>
                    <div class="mr-button-group">
                        <input class="mr-button mr-button--submit" type="submit" value="Szukaj">
                        <button type="button" ng-click="showFilters()" id="btn-more-filters" class="mr-button">Więcej filtrów</button>
                    </div>
                </div>
            </header>
            <div id="filters-advanced" ng-show="toggle" class="mr-filters-advanced">
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_name">Nazwa</label>
                    <input class="mr-advanced-filter mr-advanced-filter--width-130" type="text" id="c_name">
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_price_min">Cena</label>
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_price_min" placeholder="min">
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_price_max" placeholder="max">
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_distance_min">Dystans</label>
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_distance_min" placeholder="min">
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_distance_max" placeholder="max">
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_altitude_min">Przewyższenie</label>
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_altitude_min" placeholder="min">
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_altitude_max" placeholder="max">
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="category">Kategoria biegu</label>
                    <select multiple="multiple" type="text" id="category" name="category" data-ng-model="selectCategory">
                            <option selected value="alpejski">Alpejski</option>
                            <option selected value="anglosaski">Anglosaski</option>
                            <option selected value="długi">Długi</option>
                            <option selected value="ultra">Ultra</option>
                    </select>
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_points_min">Punkty UTMB</label>
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_points_min" placeholder="min">
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_points_max" placeholder="max">
                </div>
                <div class="mr-advanced-filter-group">
                    <label class="mr-advanced-filter-label" for="c_points_min">Punkty BUGT</label>
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_points_min" placeholder="min">
                    <input class="mr-advanced-filter mr-advanced-filter--half-width" type="text" id="c_points_max" placeholder="max">
                </div>
            </div>
        </form>
        <section class="c-container">
            <div class="c-item" ng-repeat="item in items">
                <h2 class="c-item__header">{{item.header}}</h2>
                <div class="c-item__info">
                    <strong class="c-item__text c-item__text--left">Dystans:</strong>
                    <span class="c-item__text c-item__text--right">{{item.distance}} km</span>
                    <span class="c-item__dots">&nbsp;</span>
                </div>
                <div class="c-item__info">
                    <strong class="c-item__text c-item__text--left">Przewyższenie:</strong>
                    <span class="c-item__text c-item__text--right">+{{item.up}}</span>
                    <span class="c-item__text c-item__text--right">-{{item.down}}</span>
                    <span class="c-item__dots">&nbsp;</span>
                </div>              
                <div class="c-item__info c-item__info--price">
                    <strong class="c-item__text c-item__text--left">Cena:</strong>
                    <span class="c-item__text c-item__text--right">{{item.priceMin | currency}}-{{item.priceMax | currency}}</span>         
                    <span class="c-item__dots">&nbsp;</span>    
                </div>
                <div class="c-item__info c-item__info--location">
                    {{item.location}}
                </div>
                <div class="c-item__info c-item__info--date">
                    <strong>{{item.date | date : 'dd MMMM yyyy h:mm'}}</strong>
                </div>  
                <button class="c-item-button c-item-button--poz-absolute-4" ng-click="show = !show">Szczegóły</button>
                <div class="c-item-details" ng-show="show">
                        <div class="c-item-details__info">
                            <strong>Kategoria biegu:</strong>
                            <span>{{item.category}}</span>                  
                        </div>
                        <div class="c-item-details__info">
                                <strong>Punkty:</strong>
                                <span ng-show="item.pointsUTMB">UTMB - {{item.pointsUTMB}}</span>   
                                <span>/</span>  
                                <span ng-show="item.pointsBUGT">BUGT - {{item.pointsBUGT}}</span>           
                        </div>                  
                        <div class="c-item-details__info">
                                <strong>Limit czasu:</strong>
                                <span>{{item.timeLimit}}</span>                 
                        </div>
                        <div class="c-item-details__info">
                                <strong>Limit uczestników:</strong>
                                <span>{{item.playersLimit}}</span>                  
                        </div>
                </div>          
                <a target="_blank" ng-href="{{item.www}}" class="c-item-button c-item-button--poz-absolute-3">www</a>
                <a target="_blank" ng-href="{{item.signup}}" class="c-item-button c-item-button--poz-absolute-2">Zapisy</a>
                <button class="c-item-button c-item-button--poz-absolute-1">Dodaj</button>
            </div>
        </section>
    </div>
</body>
</html>